
#include "windows.h"

Tuner ICON "Tuner.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Tuner.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	0,9,7,0
PRODUCTVERSION 	0,9,7,0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	0x0L
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904B0"
        BEGIN
            VALUE "CompanyName",      "Bill Farmer"
            VALUE "FileDescription",  "Musical Instrument Tuner"
            VALUE "FileVersion",      "0.9.7"
            VALUE "InternalName",     "Tuner"
            VALUE "LegalCopyright",   "Copyright (C) 2010 Bill Farmer"
            VALUE "OriginalFilename", "Tuner.exe"
            VALUE "ProductName",      "Tuner"
            VALUE "ProductVersion",   "0.9.7"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 0x4B0
    END
END